.house {
	position: relative;
	width: 600px;
	padding: 20px;
	max-width: 85vw;
	height: 50vh;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
}

.house > h3 {
	position: absolute;
    bottom: 11px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.HouseCards_cardContainer {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.swipe {
	position: absolute;
}
